*{
    margin: 0px;
    font-size: 34px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body{    
    overflow: hidden;
}
.map{
    width: 100%;
}
img{
    position: absolute;
}
a{
    cursor: pointer;
    color: rgb(18, 18, 18);
    text-decoration: none;
}
a:hover{
    animation: scalePointAnimation ease 0.25s;
    animation-fill-mode: forwards;
}
@keyframes scalePointAnimation {
    0% {
        scale: 1;
    }
    100% {
        scale: 1.15;
    }
}
.home{
    cursor: pointer;
    margin-top: 10px;
    margin-left: 12px;
    height: 50px;
}
.ceg{
    cursor: default;
    margin-top: 1px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}
.points{
    height: 100%;
}
.point{
    cursor: pointer;
    width: 40px;
}
.point:hover{
    animation: scalePointAnimation ease 0.25s;
    animation-fill-mode: forwards;
    
}
@keyframes scalePointAnimation {
    0% {
        scale: 1;
    }
    100% {
        scale: 1.15;
    }
}
#JadEl{
    margin-top: 90px;
    margin-left: 48.6%;
}
#SlunEl{
    margin-top: 525px;
    margin-left: 48.6%;
}
#VodEl{
    margin-top: 245px;
    margin-left: 4.15%;
}
#VetEl{
    margin-top: 33px;
    margin-left: 36.5%;
}
#Les{
    margin-top: 405px;
    margin-left: 95%;
}
#Reka{
    margin-top: 400px;
    margin-left: 8.7%;
}
#Pole{
    margin-top: 33px;
    margin-left: 60.5%;
}
#BioZa{
    margin-top: 505px;
    margin-left: 80.5%;
}
#UhDol{
    margin-top: 9px;
    margin-left: 89.8%;
    rotate: 150deg;
}
#skoda{
    margin-top: 300px;
    margin-left: 48.6%;
}
#dark{
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.65;
    position: absolute;
    animation: fadeInAnimation ease 1.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
@keyframes fadeInAnimation {
    0% {
        margin-left: 0px;
        opacity: 0.6;
    }
    99% {
        margin-left: 0px;
        opacity: 0.01;
    }
    100% {
        margin-left: 2000px;
        opacity: 0;
    }
}
.icon{
    cursor: pointer;
    position: relative;
    width: 70px;
}