*{
    margin: 0px;
    font-size: 50px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(222, 222, 222);
    text-decoration: none;
}
body{
    overflow: hidden;
}
span{
    cursor: default;
    margin-top: 10px;
    margin-left: 110px;
    color: beige;
    position: fixed;
}
#bg{
    margin-top: -6%;
    width: 100%;
    height: 120%;
    position: absolute;
    background-image: url(Images/back.jpg);
}
ul {
    list-style: none;
}
#play{
    margin-top: 85px;
}
a{
    margin-left: -140px;
    display: inline-block;
    position: relative;
    padding-top: 30px;
    transition: transform 300ms;
}
a:hover {
    transform: scale(1.1);
}
a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 5px;
    background-color: rgb(30, 220, 27);
    opacity: 0;
    transition: opacity 300ms, transform 300ms;
}
a:hover::after, 
a:focus::after {
    opacity: 1;
    transform: translate3d(0, 0.2em, 0);
}