*{
    margin: 0px;
    color: rgb(255, 255, 255);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 28px;
}
body{
    overflow: hidden;
}
#bg{
    margin-top: -6%;
    width: 100%;
    height: 120%;
    position: absolute;
}
#dark{
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.45;
    position: absolute;
}
#about{
    position: absolute;
}
.text{
    margin-left: 100px;
}
span{   
    width: 60%;
    position: absolute;
}