<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CEG</title>
    <link href="style-about.css" rel="stylesheet">
</head>
<body>
    <img id="bg" src="Images\back.jpg">
    <div>
        <span>CEG(Cool Eco Game) is a web game that was made in 4 days by 
            Vladyslav Kyrychenko(frontend), Jakub Slama(backend) and Ondřej Kondrčík. The main goal 
            of the game is to correct the environmental problems of the city - Tsukrovo.
        </span>
    </div>
</body>
</html>