*{
    margin: 0px;
    font-family: Rockwell;
}
.log{
    margin-top: -95px;
    width: 48px;
    margin-left: 5px;
    position: fixed;
}
.eq{
    margin-top: -89px;
    position: fixed;
    margin-left: 55px;
    font-size: 30px;
}
.bg{
    margin-top: -130px;
    position: fixed;
    width: 100%;
}
.w{
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 66vh;
}
.wbg{
    border-radius: 45px;
    background: rgba(255, 255, 255, 0.70);
    width: 70%;
    height: 460px;
    position: fixed;
}
.textwb{
    font-size: 24px;
    margin-top: 22px;
    margin-left: 40px;
    width: 50%;
}
.im{
    margin-top: -39%;
    margin-left: 60%;
}
.imim{
    width: 320px;
    height: 320px;
    background-color: black;
}
form{
    width: 320px;
}
.btn {
    margin-left: 35%;
    margin-top: 10px;
	background-color: #66a34a;
	border:1px solid  #45782c;
	display: inline-block;
	cursor: pointer;
	color: #ffffff;
	font-family: Arial;
	font-size: 24px;
	font-weight: bold;
	padding: 12px 24px;
	text-decoration: none;
	border-radius: 15px;
}
.btn:hover {
	background-color: #4db018;
}
.btn:active {
	position: relative;
	top: 1px;
}
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 90px;
    position: fixed;
}