<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CEG</title>
    <link rel="icon" href="{{ url_for('static', filename='Images/icon.png') }}">
    <link href="{{ url_for('static', filename='css/style-ten.css') }}" rel="stylesheet">
</head>
<body onload="load()">
    <img src="{{ url_for('static', filename='Images/map.png') }}" class="map">
    <div class="ceg">
        <img src="{{ url_for('static', filename='Images/icon.png') }}" class="icon">
    </div> 
    <img src="{{ url_for('static', filename='Images/home.png') }}" class="home">

    <span id="o">
    <div id="dark"></div>
    <div id="graybg">
        <a class="back" onclick="back()">x</a>
        <div class="loreUp">
            <img src="{{ url_for('static', filename='Images/vet.png') }}" class="pict"> 
            <a class="g" href="vetG.html">Větrná elektrárna</a>
        </div>
        <span class="score">Skóre: <span class="score2">{{points}}</span>/8<span></span>
    </div>
    </span>
    <script src="{{ url_for('static', filename='js/jad.js') }}"></script>
</body>
</html>