<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CEG</title>
    <link href="{{ url_for('static', filename='css/style-about.css') }}" rel="stylesheet">
</head>
<body>
    <img id="bg" src="{{ url_for('static', filename='Images/back.jpg') }}">
    <div id="dark"></div>
    <img src="{{ url_for('static', filename='Images/home.png') }}" class="home" onclick="home()">
    <div>
        <span>
             CEG (Cool Eco Game) is a web game that was made in 4 days by
             Vladyslav Kyrychenko (frontend), Jakub Slama (backend) and Ondřej Kondrčík.<br> 
             The main goal of the game is to correct the 
             environmental problems of the city - Tsukrovo.<br><br>This game was produced to spread general 
             awareness about environmental protection and the use of renewable energy sources. It 
             should teach users the basics of nature conservation in a fun way and educate them about 
             the ongoing pollution of rivers, forests, meadows and primarily the climate.
        </span> 
        <img src="{{ url_for('static', filename='Images/poster.jpg') }}" class="post">
    </div>
    <script src="{{ url_for('static', filename='js/jad.js') }}"></script>
</body>
</html>