<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CEG</title>
    <link href="css/style-game.css" rel="stylesheet">
</head>
<body>
    <img src="Images/map.png" class="map">
    <div class="ceg">
        <span>x/10<span>
    </div>
    <div class="points">
        <img src="Images/ElPoint.png" class="point" id="JadEl" onclick="jad()">
        <img src="Images/ElPoint.png" class="point" id="VodEl" onclick="vod()">
        <img src="Images/ElPoint.png" class="point" id="VetEl" onclick="vet()">
        <img src="Images/ElPoint.png" class="point" id="SlunEl" onclick="slun()">
        <img src="Images/ElPoint.png" class="point" id="BioZa" onclick="bio()">
        <img src="Images/EcPoint.png" class="point" id="Les" onclick="les()">
        <img src="Images/EcPoint.png" class="point" id="Reka" onclick="reka()">
        <img src="Images/EcPoint.png" class="point" id="Pole" onclick="pole()">
        <img src="Images/EcPoint.png" class="point" id="UhDol" onclick="uh()">
        <img src="Images/BossPoint.png" class="point" id="idk" onclick="idk()">
    </div>
    <div id="dark"></div>
    <script src="js/jad.js"></script>
</body>
</html>