<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CEG</title>
    <link rel="icon" href="Images/icon.png">
    <link href="{{ url_for('static', filename='css/style-game.css') }}" rel="stylesheet">
</head>
<body> 
    <img src="{{ url_for('static', filename='Images/map.png') }}" class="map">
    <div class="ceg"> 
        <img src="{{ url_for('static', filename='Images/icon.png') }}" class="icon">
    </div> 
    <img src="{{ url_for('static', filename='Images/home.png') }}" class="home" onclick="home()">
    <div class="points">
        <img src="{{ url_for('static', filename='Images/ElPoint.png') }}" class="point" id="JadEl" onclick="jad()">
        <img src="{{ url_for('static', filename='Images/ElPoint.png') }}" class="point" id="VodEl" onclick="vod()">
        <img src="{{ url_for('static', filename='Images/ElPoint.png') }}" class="point" id="VetEl" onclick="vet()">
        <img src="{{ url_for('static', filename='Images/ElPoint.png') }}" class="point" id="SlunEl" onclick="slun()">
        <img src="{{ url_for('static', filename='Images/ElPoint.png') }}" class="point" id="BioZa" onclick="bio()">
        <img src="{{ url_for('static', filename='Images/EcPoint.png') }}" class="point" id="Les" onclick="les()">
        <img src="{{ url_for('static', filename='Images/EcPoint.png') }}" class="point" id="Reka" onclick="reka()">
        <img src="{{ url_for('static', filename='Images/EcPoint.png') }}" class="point" id="Pole" onclick="pole()">
        <img src="{{ url_for('static', filename='Images/EcPoint.png') }}" class="point" id="UhDol" onclick="uh()">
        <img src="{{ url_for('static', filename='Images/BossPoint.png')}}" class="point" id="idk" onclick="idk()">
    </div>
    <div id="dark"></div>
    <script src="{{ url_for('static', filename='js/jad.js')}}"></script>
</body>
</html>