<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CEG</title>
    <link href="{{ url_for('static', filename='css/stlyle-home.css') }}" rel="stylesheet">
</head>
<body>
    <img id="bg" src="{{ url_for('static', filename='Images/back.jpg') }}">
    <span>CEG<span>
    <ul>
        <li>
            <a href="game.html" id="play">New game</a>
        </li>
        <li>
            <a href="continue.html">Continue</a>
        </li>
        <li>
            <a href="about.html">About</a>
        </li> 
        <li> 
            <a href="settings.html">Settings</a>
        </li>
    </ul>
</body>
</html>