<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CEG</title>
    <link href="css/style-ten.css" rel="stylesheet">
</head>
<body onload="load()">
    <img src="Images/map.png" class="map">
    <div class="ceg">
        <span><span>x</span>/10<span>
    </div>
    <div class="points">
        <img src="Images/ElPoint.png" class="point" id="JadEl">
        <img src="Images/ElPoint.png" class="point" id="VodEl">
        <img src="Images/ElPoint.png" class="point" id="VetEl">
        <img src="Images/ElPoint.png" class="point" id="SlunEl">
        <img src="Images/ElPoint.png" class="point" id="BioZa">
        <img src="Images/EcPoint.png" class="point" id="Les">
        <img src="Images/EcPoint.png" class="point" id="Reka">
        <img src="Images/EcPoint.png" class="point" id="Pole">
        <img src="Images/EcPoint.png" class="point" id="UhDol">
        <img src="Images/BossPoint.png" class="point" id="idk">
    </div>
    <span id="o">
    <div id="dark"></div>
    <div id="graybg">
        <a class="back" onclick="back()">x</a>
        <div class="loreUp">
            <img src="Images/elektrarna-blend.png" class="pict">
            <a class="g">Idk</a>
        </div>
        <span class="score">Score: <span class="score2">x</span>/10<span></span>
    </div>
    </span>
    <script src="js/jad.js"></script>
</body>
</html>