<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CEG</title>
    <link rel="icon" href="{{ url_for('static', filename='Images/icon.png') }}">
    <link href="{{ url_for('static', filename='css/style-ten.css') }}" rel="stylesheet">
</head>
<body onload="load()"> 
    <img src="{{ url_for('static', filename='Images/map.png') }}" class="map">
    <div class="ceg"> 
        <img src="{{ url_for('static', filename='Images/icon.png') }}" class="icon">
    </div> 
    <img src="{{ url_for('static', filename='Images/home.png') }}" class="home">
    <div class="points">
        <img src="{{ url_for('static', filename='Images/ElPoint.png') }}" class="point" id="JadEl">
        <img src="{{ url_for('static', filename='Images/ElPoint.png') }}" class="point" id="VodEl">
        <img src="{{ url_for('static', filename='Images/ElPoint.png') }}" class="point" id="VetEl">
        <img src="{{ url_for('static', filename='Images/ElPoint.png') }}" class="point" id="SlunEl">
        <img src="{{ url_for('static', filename='Images/ElPoint.png') }}" class="point" id="BioZa">
        <img src="{{ url_for('static', filename='Images/ElPoint.png') }}" class="point" id="Les">
        <img src="{{ url_for('static', filename='Images/EcPoint.png') }}" class="point" id="Reka">
        <img src="{{ url_for('static', filename='Images/EcPoint.png') }}" class="point" id="Pole">
        <img src="{{ url_for('static', filename='Images/EcPoint.png') }}" class="point" id="UhDol">
        <img src="{{ url_for('static', filename='Images/BossPoint.png')}}" class="point" id="idk">
    </div>
    <span id="o">
    <div id="dark"></div>
    <div id="graybg">
        <a class="back" onclick="back()">x</a>
        <div class="loreUp">
            <img src="{{ url_for('static', filename='Images/elektrarna-blend.png') }}" class="pict">
            <a class="g" href="jadG.html">Jaderná elektrárna</a>
        </div>
        <span class="score">Skóre: <span class="score2">{{points}}</span>/{{questions}}<span></span>
    </div>
    </span>
    <script src="{{ url_for('static', filename='js/jad.js') }}"></script>
</body>
</html>