<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CEG</title> 
    <link rel="icon" href="{{ url_for('static', filename='Images/icon.png') }}">
    <link href="{{ url_for('static', filename='css/style-achievements.css') }}" rel="stylesheet">
</head> 
<body>  
    <img src="{{ url_for('static', filename='Images/map.png') }}" class="map">
    <div id="dark"></div>
    <div class="ceg2"> 
        <div class="w" id="skod">
            <img src="{{ url_for('static', filename='Images/skoda.png') }}" class="im"> 
            <p class="up">To je Škoda</p>
            <p>Udělejte si kvíz Škoda</p>
        </div>
        <div class="mar"></div>
        <div class="w" id="ekol">
            <img src="{{ url_for('static', filename='Images/eko.png') }}" class="im"> 
            <p class="up">Ekolog</p>
            <p>Udělejte všechny eko kvízy</p>
        </div>
        <div class="mar"></div>
        <div class="w" id="elektr">
            <img src="{{ url_for('static', filename='Images/el.png') }}" class="im"> 
            <p class="up">Elektrikář</p>
            <p>Udělejte všechny energo kvízy</p>
        </div>
        <div class="mar"></div>
        <div class="w" id="konec">
            <img src="{{ url_for('static', filename='Images/final.png') }}" class="im"> 
            <p class="up">Konec</p>
            <p>Dokončete hru</p>
        </div>
    </div> 
    <div class="ceg3">
        <p class="grat">Gratulejeme k výhře!</p>
    </div>
    <p class="crby">Created by Vladyslav Kyrychenko (frontend), Jakub Sláma (backend)</p>
    <div class="ceg iconK">  
        <img src="{{ url_for('static', filename='Images/home.png') }}" class="icon" onclick="home()">
    </div> 
    <script src="{{ url_for('static', filename='js/jad.js') }}"></script> 

    <script src="{{ url_for('static', filename='js/skod.js') }}"></script>
 
    <script src="{{ url_for('static', filename='js/ekol.js') }}"></script>

    <script src="{{ url_for('static', filename='js/elektr.js') }}"></script>

    <script src="{{ url_for('static', filename='js/konec.js') }}"></script>

</body>
</html>