<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Hi</h1>
    <h2>Hello</h2>

    <form method="Post">
        
        <button value="NuclearPlant1" name="NuclearPlant1">Yes</button>
        <button value="NuclearPlant2"  name="NuclearPlant2">No</button>
        <input name="points" id="points" value="{{points}}">
        <input name="from" id="from" value="{{questionNumber}}">
    </form>

</body>
</html>