<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CEG</title>
    <link rel="icon" href="{{ url_for('static', filename='Images/icon.png') }}">
    <link href="{{ url_for('static', filename='css/style-about.css') }}" rel="stylesheet">
</head>
<body>
    <img id="bg" src="{{ url_for('static', filename='Images/back.jpg') }}"> 
    <div id="dark"></div> 
    <img src="{{ url_for('static', filename='Images/home.png') }}" class="home" onclick="home()">
    <span class="cs">Coming Soon...</span>
    <script src="{{ url_for('static', filename='js/jad.js') }}"></script>
</body>
</html>