*{
    margin: 0px;
    color: rgb(18, 18, 18);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 28px;
}
body{
    overflow: hidden;
}
#bg{
    margin-top: -6%;
    width: 100%;
    height: 120%;
    position: absolute;
}
.material-icon {
    position: fixed;
}
span{    
    position: absolute;
}