<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CEG</title>
    <link href="css/style-ten-games.css" rel="stylesheet">
</head>
<body onload="load()" style="background-image:url(Images/back.jpg);">
    <div id="op">
        <div class="header">
            <img src="Images/backicon.png" onclick="back()">
            <span class="game">Wind power plant</span>
            <span class="score">Score: <span>0</span>/10</span>
        </div>
        <div class="name ot">
            <div class="ot">
                <p>Lorem impuls?</p>
            </div>
        </div>
        <form class="name">
            <button class="but" id="a">Lorem impuls</button>
            <div class="five"></div>
            <button class="but" id="b">Lorem impuls</button>
        </form>
    </div>
    <script src="js/jad.js"></script>
</body>
</html>